<div class="nav bg--primary d-flex justify-content-between align-items-center p-2 fixed-top">
  <%= button_to destroy_user_session_path, method: :delete, class: 'bg-transparent text-white m-0 border-0 text-decoration-none' do %>
    <i class="bi bi-arrow-left"></i> Log out
  <% end %>
  <h5 class='text-white m-0 py-2 text-uppercase font-weight-bold'>Categories</h5>
  <%= button_to request.referrer, method: :get, class: 'bg-transparent text-white m-0 border-0 text-decoration-none' do %>
    <i class="bi bi-search"></i>
  <% end %>
</div>
<div class="mb-6 mt-6">
  <% @categories.each do |category| %>
    <%= link_to(category_path(category), class: "text-decoration-none link-dark") do%>
      <%= render category %>
    <% end %>
  <% end %>
</div>
<div class="bg-second d-flex justify-content-center fixed-bottom">
  <div class="custom-btn__wrapper custom-btn__wrapper--secondary">
    <%= button_to "NEW CATEGORY", new_category_path, method: :get, class: 'custom-btn custom-btn--secondary' %>
  </div>
</div>
