<div class="nav bg--primary d-flex justify-content-between align-items-center p-2 fixed-top">
  <%= button_to root_path, method: :get, class: 'bg-transparent text-white m-0 border-0 text-decoration-none' do %>
    <i class="bi bi-list"></i>
  <% end %>
  <h5 class='text-white m-0 py-2 text-uppercase font-weight-bold'><%= @category.name %></h5>
  <%= button_to request.referrer, method: :get, class: 'bg-transparent text-white m-0 border-0 text-decoration-none' do %>
    <i class="bi bi-search"></i>
  <% end %>
</div>
<div class="d-flex justify-content-between bg-white p-4 border-2 border-bottom mt-5">
  <span class="gray--dark">Payment Credit</span>
  <span class="font--bold gray--dark"><%= number_to_currency(@category.value, precision: 2) %></span>
</div>
<div class="mb-6">
  <% @payments.each do |payment| %>
    <%= render payment %>
  <% end %>
</div>
<div class="bg-second d-flex justify-content-center fixed-bottom">
  <div class="custom-btn__wrapper custom-btn__wrapper--secondary">
    <%= button_to "NEW Payment", new_payment_path, method: :get, class: 'custom-btn custom-btn--secondary text-uppercase' %>
  </div>
</div>
